<div class="bg-gray-100">
    <div class="container mx-auto md:px-4 md:py-8">
      <div class="max-w-md mx-auto bg-white shadow-md rounded-lg overflow-hidden">
        <div class="p-6">
          <div class="flex items-center justify-center">
            <img class="w-20 h-20 rounded-full" src="assets/images/logos/website_logo.webp" alt="Deepak Pandey - Profile Picture">
          </div>
          <h2 class="mt-4 text-xl font-semibold text-center">Deepak Pandey</h2>
          <p class="mt-2 text-gray-600 text-center">Software Developer (Full Stack)</p>
          <p class="mt-2 text-gray-500 text-center">Coding Maestro | Full Stack Virtuoso | Architecting Elegance | AWS Certified Dev</p>
        </div>
        <div class="bg-slate-600 py-4 px-6">
          <ul class="space-y-2">
            <li class="flex items-center ">
              <span class="w-6 h-6 mr-2">
                <i class="material-icons text-white">mail</i>
              </span>
              <a href="mailto:mail@deepakpandey.in" target="_blank" class="text-white">mail@deepakpandey.in</a>
            </li>
            <li class="flex items-center">
              <span class="w-6 h-6 mr-2">
                <i class="material-icons text-white">phone</i>
              </span>
              <a href="tel:+919928640281" target="_blank" class="text-white">+91 9928 640 281</a>
            </li>
            <li class="flex items-center">
              <span class="w-6 h-6 mr-2">
                <i class="material-icons text-white">location_on</i>
              </span>
              <span class="text-white">Lucknow, Uttar Pradesh, India</span>
            </li>
            <li class="flex items-center">
              <span class="w-6 h-6 mr-2">
                <i class="material-icons text-white">link</i>
              </span>
              <a href="https://github.com/deepakgonda" target="_blank" class="text-white">https://github.com/deepakgonda</a>
            </li>
            <li class="flex items-center">
              <span class="w-6 h-6 mr-2">
                <i class="material-icons text-white">link</i>
              </span>
              <a href="https://www.linkedin.com/in/deepakgonda/" target="_blank" class="text-white">https://www.linkedin.com/in/deepakgonda/</a>
            </li>
            <li class="flex items-center">
              <span class="w-6 h-6 mr-2">
                <i class="material-icons text-white">link</i>
              </span>
              <a href="https://www.credly.com/users/deepak-pandey.2a3aafbf" target="_blank" class="text-white">https://www.credly.com/users/deepak-pandey.2a3aafbf</a>
            </li>
          </ul>
        </div>
        <div class="p-4 mt-6 mb-4 bg-gray-200">
          <p class="text-center py-2">
            <a (click)="initPushNotificationTest($event)" mat-raised-button  color="accent">Subscribe to Notifications</a>
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold">Certifications</h3>
          <ul class="mt-2 space-y-4">
            <li class="bg-gray-200 px-4 py-2 rounded-lg">
              <h4 class="text-md font-semibold">AWS Certified Developer - Associate</h4>
              <p class="text-gray-600">Issued by Amazon Web Services (AWS)</p>
              <p class="text-gray-600">Valid until Aug 2024</p>
              <p class="">Earned this Certification, demonstrating proficiency in building and deploying applications on the AWS platform.</p>
              <p class="text-center py-2">
                <a href="https://www.credly.com/badges/1e3d70d4-75ad-4605-af4b-3ce53daafc01" target="_blank" mat-raised-button  color="primary">Verify Credentials</a>
              </p>
            </li>
          </ul>
          <ul class="mt-2 space-y-4">
            <li class="bg-gray-200 px-4 py-2 rounded-lg">
              <h4 class="text-md font-semibold">AWS Certified Solutions Architect – Associate</h4>
              <p class="text-gray-600">Issued by Amazon Web Services (AWS)</p>
              <p class="text-gray-600">Valid until Dec 2026</p>
              <p class="">Earned this Certification, demonstrating proficiency to build secure and robust solutions using architectural design principles based on customer requirements.</p>
              <p class="text-center py-2">
                <a href="https://www.credly.com/badges/8dd3d3dd-e38d-496f-b7b3-90d4f4758f49/public_url" target="_blank" mat-raised-button  color="primary">Verify Credentials</a>
              </p>
            </li>
          </ul>
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold">Skills</h3>
          <ul class="mt-2 space-y-2">
            <li class="bg-gray-200 px-4 mx-1 py-2 rounded-full inline-block">NodeJs</li>
            <li class="bg-gray-200 px-4 mx-1 py-2 rounded-full inline-block">Angular</li>
            <li class="bg-gray-200 px-4 mx-1 py-2 rounded-full inline-block">Sql (MySql / Postgresql)</li>
            <li class="bg-gray-200 px-4 mx-1 py-2 rounded-full inline-block">NoSql (MongoDB / DynamoDb AWS)</li>
            <li class="bg-gray-200 px-4 mx-1 py-2 rounded-full inline-block">Amazon Web Services (AWS)</li>
            <li class="bg-gray-200 px-4 mx-1 py-2 rounded-full inline-block">DevOps (CI/CD)</li>
            <li class="bg-gray-200 px-4 mx-1 py-2 rounded-full inline-block">Python</li>
            <li class="bg-gray-200 px-4 mx-1 py-2 rounded-full inline-block">Java</li>
            <li class="bg-gray-200 px-4 mx-1 py-2 rounded-full inline-block">HTML/CSS</li>
          </ul>
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold">Experience</h3>
          <ul class="mt-2 space-y-4">
            <li class="flex items-start">
              <img class="w-12 h-12 rounded-full mr-4" src="assets/images/logos/tis_logo.jpeg" alt="Tis Logo">
              <div>
                <h4 class="text-lg font-semibold">Senior Software Engineer/ Tech Lead</h4>
                <p class="text-gray-600">Thai Informatic Systems · Full-time</p>
                <p class="text-gray-600">Feb 2021 - Present</p>
                <p class="text-gray-600">Bangkok, Bangkok City, Thailand</p>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor mi sed ipsum convallis bibendum.</p> -->
              </div>
            </li>
            <li class="flex items-start">
              <img class="w-12 h-12 rounded-full mr-4" src="assets/images/logos/alcanzar_logo.jpeg" alt="Alcanzar's Logo">
              <div>
                <h4 class="text-lg font-semibold">Senior Software Engineer/ Tech Lead</h4>
                <p class="text-gray-600">Alcanzar Software Solutions Private Limited · Full-time</p>
                <p class="text-gray-600">Jan 2019 - Dec 2020 · 2 yrs</p>
                <p class="text-gray-600">Lucknow, Uttar Pradesh, India</p>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor mi sed ipsum convallis bibendum.</p> -->
              </div>
            </li>
            <li class="flex items-start">
              <img class="w-12 h-12 rounded-full mr-4" src="assets/images/logos/unstop_logo.jpeg" alt="Unstop's Logo">
              <div>
                <h4 class="text-lg font-semibold">Full Stack Developer</h4>
                <p class="text-gray-600">Unstop (formerly Dare2Compete) · Full-time</p>
                <p class="text-gray-600">Jun 2017 - Nov 2018 · 1 yr 6 mos</p>
                <p class="text-gray-600">New Delhi Area, India</p>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor mi sed ipsum convallis bibendum.</p> -->
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
